
<div class="navbar-wagon">
  <!-- Logo -->
  <%= image_tag "logo.png", alt: "cocktails", width: 200 %>

  <div class="navbar-wagon-right">
    <div class= "navbar-wagon-item navbar-wagon-link"><%= link_to "All cocktails", cocktails_path %> </div>
    <div class= "navbar-wagon-item navbar-wagon-link"><%= link_to "Add a cocktail", new_cocktail_path %> </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <div class="card-description">
            <h3><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
          </div>
        </div>
      </div>
    <% end  %>
  </div>
</div>




<div>




</div>



